<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyFilmik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <header th:insert="/patern/header :: header"></header>
    <div class="wrapper-center">
        <div class="wrapper-add">
            <div class="form-box">
                <h1>Регистрация</h1>
                <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
                    <div class="input-box">
                        <!--                        <input class="text-class" name="film_name" type="text" placeholder="Введи название">-->
                        <!--                        <label for="name">Name</label>-->
                        <input class="text-class" type="text" th:field="*{name}" id="name" placeholder="Логин">
                        <span class="eror" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="input-box">
                        <!--                        <input class="text-class" name="genre" type="text" placeholder="Введи жанр">-->
                        <!--                        <label for="email">Email</label>-->
                        <input class="text-class" type="text" th:field="*{email}" id="email" placeholder="Email">
                        <span class="eror" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="input-box">
                        <!--                        <textarea class="text-class" name="full_text" placeholder="Введи описание"></textarea>-->
                        <!--                        <label for="password">Пароль</label>-->
                        <input class="text-class" type="password" th:field="*{password}" id="password" placeholder="Пароль">
                        <span class="eror" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                    <div class="input-box">
                        <!--                        <textarea class="text-class" name="full_text" placeholder="Введи описание"></textarea>-->
                        <!--                        <label for="password">Пароль</label>-->
                        <input class="text-class" type="text" th:field="*{number}" id="number" placeholder="Номер телефона: +7 XXX XXX XX XX ">
                        <span class="eror" th:if="${#fields.hasErrors('password')}" th:errors="*{number}"></span>
                    </div>
                    <!--                    <div class="input-box-file">-->
                    <!--                        <label for="files" class="text-class">Главная картинка</label>-->
                    <!--                        <input  id="files"  class="text-class" type="file" name="file">-->
                    <!--                    </div>-->
                    <div class="updel edit">
                        <button type="submit">Зарегистрироваться</button>
                    </div>
                    <span class="konfedencialnoct">Нажимая «Зарегистрироваться», вы принимаете пользовательское соглашение и политику конфиденциальности</span>
                </form>
            </div>
        </div>
    </div>
    <footer th:insert="patern/footer :: footer"></footer>
</div>
<!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>
