<!DOCTYPE HTML>
<html xmlns:th="http://www.thyme leaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>MyFilmik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper foot-bot">
    <header th:insert="/patern/header :: header"></header>
    <div class="wrapper-center">
        <div class="wrapper-add wrapper-video">
            <div class="form-box form-box-genre" >
                <form action="#" th:action="@{/adduser}" th:object="${user}" method="get">
                    <div style="display: flex">
                        <div class="avatar" style="display: flex">avatar</div>
                        <div class="input-box" style="height: auto; border-bottom: aliceblue; margin-left: 55px;">
                            <!--                        <input class="text-class" name="film_name" type="text" placeholder="Введи название">-->
                            <div class="user-info">
                                <label for="name">Логин</label>
                                <span class="text-class info-user" th:text="*{name}" type="text" th:field="*{name}" id="name" ></span>
                            </div>
                            <div class="user-info">
                                <label for="email">Email</label>
                                <span class="text-class info-user" th:text="*{email}" type="text" th:field="*{email}" id="email" ></span>
                            </div>
                            <div class="user-info">
                                <label for="password">password</label>
                                <span class="text-class info-user" th:text="*{password}" type="password" th:field="*{password}" id="password" ></span>
                            </div>
                            <div class="user-info">
                                <label for="number">Телефон</label>
                                <span class="text-class info-user" th:text="*{number}" type="text" th:field="*{number}" id="number" ></span>
                            </div>
                        </div>


                    </div>
                </form>
                <div class="row">
                    <div class="small-columns">
                        <div class="updel" style=" position: relative;">
                            <div style="display: flex;">
                                <a th:href="@{/edituser/{id}(id=${user.id})}">Редактировать</a>
                                <!--                                <a th:href="@{/deleteuser/{id}(id=${user.id})}">Удалить</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <form th:action="@{/logout}" method="post">
                    <input class="text-class" style="display: flex; justify-content: flex-end"  type="submit" value="Выход"/>
                </form>

            </div>
        </div>
    </div>


    <footer class="footer-relative" th:insert="patern/footer :: footer"></footer>

</div>
<!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>
