<!--<div class="footer-start foot" th:fragment="footer">-->
<!--    <div class="footer">-->
        <div class="row"  th:fragment="footer">
            <div class="small-columns">
                <div class="footer-bottom">
                    <div class="footer-top">
                        <div class="logo-copyright">
                            <div class="logo">MyFilmik</div>
                        </div>
                        <ul class="link-o">
                            <li>
                                <a href="/pravila">Соглашение</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!--    </div>-->
<!--</div>-->