<div class="header" th:fragment="header" >
    <div class="row">
        <div class="small-columns">
            <h1 class="logo"> MyFilmik</h1>
            <div class="header-content">

                <nav >
                    <ul>
                        <li>
                            <a th:href="@{/addfilm}">Главная</a>
                        </li>
                        <li>
                            <a th:href="@{/film}">Фильмы</a>
                        </li>
                        <li>
                            <a th:href="@{#}">Новости</a>
                        </li>
                    </ul>
                </nav>
                <div class=" block-search">
                    <div class="login search-container ">
                        <div class="info wrap">
                            <div class="help">
                                <form th:action="@{/search}" method="get">
                                    <input class="search" type="text" name="keyword" th:value="${keyword}"  placeholder="Поиск" size="10" >
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-right">
                    <div class="login">
                        <div class="info">
                            <div class="help">
<!--                               Пользователь!!!!!-->
                                <a th:href="${true} ? @{info/702} : @{/login}">Вход</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>